.container-fluid{
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #f27330 !important;
}
.blue{
    color:#19467e !important;
}
.content-main{
    width: 80%;
    height: 1000px;
    margin: auto;
}
.header{
    width: 100%;
    height: auto;
}
.row{
    width: 100% !important;
    margin: auto !important;
    margin-top: 15px !important;
    padding-bottom: 12px;
    border-bottom:2px solid rgb(211, 211, 211);
}
.col-1{
    width: 22px !important;
    height: 22px;
    text-align: center;
    background-size: 100% 100%;
    margin-right: 12px;
}
#facebook{
    background-image: url(images/icons/facebook-grey.png);
}
#facebook:hover{
    background-image:url(images/icons/facebook-orange.png) ;
}
#instagram{
    background-image: url(images/icons/instagram-grey.png);
}
#instagram:hover{
    background-image: url(images/icons/instagram-orange.png);
}
#linkedin{
   background-image: url(images/icons/linkedin-grey.png);
}
#linkedin:hover{
    background-image: url(images/icons/linkedin-orange.png);
 }
 #youtube{
    background-image: url(images/icons/youtube-grey.png);
 }
 #youtube:hover{
    background-image: url(images/icons/youtube-orange.png);
 }
 #twitter{
    background-image: url(images/icons/twitter-grey.png);
 }
 #twitter:hover{
    background-image: url(images/icons/twitter-oragne.png);
 }
.col-2{
    width: 8% !important;
    height: 20px;
    text-align: center;
    border-left:2px solid gray;
}
.col-2:hover{
    color: #f27330;
}
.col-5{
    width: 19% !important;
    margin-left: 41.5% !important;
    word-spacing: 5px;
}
.col-6{
    width: 16.4% !important;
    word-spacing: 2px; 
    border-left: 2px solid gray; 
}
a{
    text-decoration: none !important;
    color: black !important;
}
.menu-bar{
    width:100%;
    height: 100px;
    margin: auto;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item a:hover {
    color: #f27330 !important;
    text-decoration: none;
}
.image-container img {
    transition: 0.3s;
}
.image-container:hover img {
    content: url("images/icons8-facebook-48-2.png"); 
}
.blog-main{
    width: 100%;
    height: 900px;
    margin-top: 30px;
}
.blog-heading{
    width: 80%;
    margin: auto;
}
.blog-inner-content{
    width: 100%;
    height: 1850px;
    margin-top: 50px;
}
.blog-inner-image, .blognode-inner-image, .bloglinkedin-inner-image, .blogangular-inner-image,
.blogmobileapp-inner-image, .blogux-inner-image {
    width: 100%;
    height: 550px;
    background-image: url(images/blog/devopscloud.png);
    background-size: 100% 100%;
}
.blognode-inner-image{
   background-image: url(images/blog/node.jpg);
}
.bloglinkedin-inner-image{
    background-image: url(images/blog/linkedin.jpg);
}
.blogangular-inner-image{
    background-image: url(images/blog/angular.png);
}
.blogux-inner-image{
    background-image: url(images/blog/ux.png);
}
.blogmobileapp-inner-image{
    background-image: url(images/blog/mobdevops.png);
}
.blog-inner-head{
    margin-top: 30px;   
}
.blog-inner-reference{
    width:50%;
    height: 100px;
    margin-top: 20px;
}
.blog-ref-img{
    width: 12%;
    height: 70px;
    border-radius: 50px;
    background-image: url(images/blog/human.jpg);
    background-size: 100% 100%;
    float: left;
}
.blog-ref-text{
    width: 50%;
    height: 70px;
    float: left;
    margin-left: 25px;
    padding-top: 15px;
}
li{
    display: inline;
}
.blog-inner-para{
    width: 100%;
    font-size: 20px;
}
.head-text{
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    word-spacing: 2px;
}
.primary-font{
    font-size: 45px;
    font-weight: 500;
}
/* contact starts */
.contact-container{
    width:100%;
    height: 480px;
    background-color: #19467e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1100px;
}
.contact-info{
    width: 80%;
    margin-left: 10%;
    height: 478px;
    color: white;
    border-bottom: solid;
}
.cnboxhead{
   font-size: 35px;
}
.location{
    width: 30%;
    height: 320px;
    float: left;
    margin-top: 50px;
    color: white;
}
.company-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.course-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.contact-us-links{
    width: 17%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.cbe{
    margin-top: 10px;
    margin-bottom: 35px;
}
a.location-title{
    font-size: 35px;
    font-weight: 400px;
    color: white !important;
}
p.location-title{
    font-size: 35px;
    font-weight: 400px;
}
/* page6 ends */
/* page7 starts */
.footer-container{
    width: 100%;
    height: 250px;
    background-color: #002655;
}
.footer-top{
    width: 80%;
    height: 225px;
    margin: auto;
    border: dotted;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-color: #002655;
}
.company-info{
    width: 100%;
    height: 80px;
    margin-top: 40px;
}
.company-info-left{
    width: 10%;
    height:78px;
    float: left;
    margin-right: 60px;
}
.company-info-right{    
    width: 84%;
    height:80px;
    float: left;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 30px;
    margin-top: 10px;
}
.extra-space {
    word-spacing: 1px;
    color: white !important;
}
.footer-bottom{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 19px;
}
.company-policy{
    width: 68%;
    height: 40px;
    float: left;
    word-spacing: 32px;
}
.copyright{
    width: 31%;
    height: 40px;
    float: left;
    text-align: right;
    color: white;
}
.white{
    color: white;
}
#pg6text.a{
    color: white !important;
}
/* contact page ends */