.container-fluid{
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #f27330 !important;
}
.blue{
    color:#19467e !important;
}
.content-main{
    width: 80%;
    margin: auto;
}
.side-image1{
    width:120px;
    height: 400px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-1.png);
    background-size: 100% 100%;
    left: 0px;
    top:230px;
}
.side-image2{
    width:150px;
    height: 400px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-1.png);
    background-size: 100% 100%;
    right: 0px;
    top:720px;
    transform: rotate(180deg);
}
.side-image3{
    width:160px;
    height: 180px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-2.png);
    background-size: 100% 100%;
    left: 0px;
    top:1600px;
    transform: rotate(180deg);   
}
.side-image4{
    width:210px;
    height: 140px;
    position: absolute;
    background-image: url(images/NS_PNG/Group\ 1000006069.png);
    background-size: 140% 100%;
    right: 0px;
    top:2540px;
    transform: rotate(0deg);
}
.header{
    width: 100%;
    height: auto;
}
.row{
    width: 100% !important;
    margin: auto !important;
    margin-top: 15px !important;
    padding-bottom: 12px;
    border-bottom:2px solid rgb(211, 211, 211);
}
.col-1{
    width: 22px !important;
    height: 22px;
    text-align: center;
    background-size: 100% 100%;
    margin-right: 12px;
}
#facebook{
    background-image: url(images/icons/facebook-grey.png);
}
#facebook:hover{
    background-image:url(images/icons/facebook-orange.png) ;
}
#instagram{
    background-image: url(images/icons/instagram-grey.png);
}
#instagram:hover{
    background-image: url(images/icons/instagram-orange.png);
}
#linkedin{
   background-image: url(images/icons/linkedin-grey.png);
}
#linkedin:hover{
    background-image: url(images/icons/linkedin-orange.png);
 }
 #youtube{
    background-image: url(images/icons/youtube-grey.png);
 }
 #youtube:hover{
    background-image: url(images/icons/youtube-orange.png);
 }
 #twitter{
    background-image: url(images/icons/twitter-grey.png);
 }
 #twitter:hover{
    background-image: url(images/icons/twitter-oragne.png);
 }
.col-2{
    width: 8% !important;
    height: 20px;
    text-align: center;
    border-left:2px solid gray;
}
.col-2:hover{
    color: #f27330;
}
.col-5{
    width: 20% !important;
    margin-left: 38% !important;
    word-spacing: 5px;
}
.col-6{
    width: 18% !important;
    word-spacing: 2px; 
    border-left: 2px solid gray; 
}
a{
    text-decoration: none !important;
    color: black !important;
}
.menu-bar{
    width:100%;
    height: 100px;
    margin: auto;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item a:hover {
    color: #f27330 !important;
    text-decoration: none;
}
.image-container img {
    transition: 0.3s;
}
.image-container:hover img {
    content: url("images/icons8-facebook-48-2.png"); 
}
.blog-main{
    width: 100%;
    margin-top: 30px;
}
.blog-heading{
    width: 80%;
    margin: auto;
}
.primary-font{
    font-size: 45px;
    font-weight: 500;
}
.blog-content{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.secondary-font{
    font-size: 18px;
    word-spacing: 2px;
}
.topics-top, .topics-btm{
    width:100%;
    height: 2360px;
    margin-top: 40px;
}
.topics-btm{
    height: 900px;
}
.topic1{
    width: 80%;
}
.topic-outline{
    width:30%;
    height: 70px;
    border:2px solid;
    border-radius: 50px;
    padding-top: 4px;
}
.topic-heading{
    width:94%;
    margin-left:7px;
    height: 58px;
    border: solid;
    border-color: #f27330;
    background-color: #f27330;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    padding-top: 4px;
    font-weight: 500;
    color: white;
}
.blog-top, .blog-bottom{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog-left{
    width: 94%;
    padding-top: 30px;
}
.blog-right{
    width: 94%;
    padding-top: 30px; 
}
.blog-img1, .blog-img2, .blog-img3, .blog-img4, .blog-img5, .blog-img6{
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
}
.blog-img1{
    background-image: url(images/blog/devopscloud.png);
}
.blog-img2{
    background-image: url(images/blog/node.jpg);
}
.blog-img3{
    background-image: url(images/blog/linkedin.jpg);
}
.blog-img4{
    background-image: url(images/blog/angular.png);
}
.blog-img5{
    background-image: url(images/blog/ux.png);
}
.blog-img6{
    background-image: url(images/blog/mobdevops.png);
}
.blog-text{
    margin-top: 20px;
}
.blog-text-head{
    font-size: 22px;
    color: black;
    font-weight: 500;
    word-spacing: 1px;
}
.blog-para{
    font-size: 18px;
    display: block;
    margin-top: 20px;
}
.blog-reference{
    width:100%;
    margin-top: 20px;
}
.blog-ref-img{
    width: 12%;
    height: 70px;
    border-radius: 50px;
    background-image: url(images/blog/human.jpg);
    background-size: 100% 100%;
    float: left;
}
.blog-ref-text{
    width: 50%;
    height: 70px;
    float: left;
    margin-left: 25px;
    padding-top: 15px;
    line-height: 10px;
}
li{
    display: inline;
}

.contact-container{
    width:100%;
    background-color: #19467e;
    font-family: 'Open Sans', sans-serif;
}

.contact-info {
    width: 80%;
    margin: auto;
    color: white;
    border-bottom: solid;
    padding-top: 50px;
    padding-bottom: 60px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1.5fr 1fr 1fr 1fr; 
  }

.contact-info p{
    line-height: 33px;
}

  .location {
    color: white;
    word-spacing: 4px;
  }
  
  .location-title {
    font-size: 32px;
    font-weight: 600px;
  }

  .cbe, .gobi{
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .city-heading{
    color: #f17424;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 40px;
  }

  .address-details{
    font-size: 19px;
  }

  .company-links,
  .course-links,
  .contact-us-links {
    margin-left: 90px;
    font-size: 19px;
  }

  .cnboxhead{
    font-size: 32px;
    font-weight: 600px;
    padding-bottom: 10px;
 }
  
 .footer-container{
    width: 100%;
    background-color: #002655;
    padding-top: 15px;
    padding-bottom: 90px;
}

.footer-top{
    width: 80%;
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-color: #002655;
}
.company-info{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:1fr 20fr;
}
.company-info-left{
    padding-right: 45px;
    line-height: 25px;
}
.company-info-right{    
    font-size: 18px;
    word-spacing: 3px;
    line-height: 30px;
}
.extra-space {
    word-spacing: 1px;
    color: white !important;
}
.footer-bottom{
    width: 100%;
    margin-top: 30px;
    font-size: 19px;
}
.company-policy{
    width: 68%;
    float: left;
    word-spacing: 32px;
}
.company-policy a{
    text-decoration: none;
}
.copyright{
    width: 31%;
    float: left;
    text-align: right;
    color: white;
}
.white{
    color: white;
}



@media screen and (max-width: 575.98px){
    .content-main{
        width: 100%;
        margin: auto;
    }
    .side-image1,
    .side-image2,
    .side-image3,
    .side-image4,
    .col-5,
    .col-6 {
        display: none;
    }
    .logo{
        float: none;
        margin: auto;
        margin-right: 56%;
    }
    .menu{
        float: none;
        word-spacing: 20px;
    }
    .menu-item {
        font-size: 12px;
    }
    
    .blog-main{
        margin-top: 15px;
    }
    .blog-heading{
        width: 100%;
    }
    .primary-font{
        font-size: 40px;
    }
    .blog-content{
        text-align: left;
        margin-top: 10px;
    }
    .secondary-font{
        font-size: 14px;
        word-spacing: 2px;
    }
    .topics-top, .topics-btm{
        width:100%;
        height: 4060px;
        margin-top: 10px;
    }
    .topics-btm{
        height: 1400px;
    }
    .topic-outline{
        width:40%;
        height: 48px;
        padding-top: 4px;
    }
    .topic-heading{
        width:94%;
        margin-left:3px;
        height: 37px;
        font-size: 16px;
    }
    .blog-top, .blog-bottom{
        grid-template-columns: 1fr;
    }
    .blog-img1, .blog-img2, .blog-img3, .blog-img4, .blog-img5, .blog-img6{
        height: 180px;
    }
    .blog-text{
        margin-top: 10px;
    }
    .blog-text-head{
        font-size: 16px;
        font-weight: 900;
    }
    .blog-para{
        font-size: 14px;
        margin-top: 10px;
    }
    .blog-reference{
        margin-top: 10px;
    }
    .blog-ref-img{
        width: 22%;
    }
    .blog-ref-text{
        width: 70%;
        margin-left: 15px;
    }

     
    .contact-container{
        width:100%;
        display: none;
    }
    .contact-info{
        width: 100%;
        margin-left: 5%;
    }
    .cnboxhead{
       font-size: 35px;
    }
    .location{
        width: 100%;
        float: none;
        margin-top: 0px;
    }
    .company-links{
       display: none;
    }
    .course-links{
        display: none;
    }
    .contact-us-links{
        display: none;
    }
    .cbe{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    a.location-title{
        font-size: 25px;
    }
    p.location-title{
        font-size: 16px;
        font-weight: 400px;
    }
    /* page6 ends */
    /* page7 starts */
    .footer-container{
        width: 100%;
        background-color: #002655;
    }
    .footer-top{
        width: 100%;
        margin: auto;
        border: dotted;
        color: white;
        font-family: 'Open Sans', sans-serif;
        border-color: #002655;
    }
    .company-info{
        height: 80px;
        margin-top: 15px;
    }
    .company-info-left{
        width: 100%;
        height: 60px;
        float: none;
        margin-left: 20px;
    }
    .company-info-right{    
        width: 100%;
        float: none;
        font-size: 12px;
        word-spacing: 0px;
        line-height: 15px;
        margin-top: 60px;
        margin-left: 20px;
        display: none;
        padding-right: 20px;
    }
    .extra-space {
        word-spacing: 1px;
        color: white !important;
    }
    .footer-bottom{
        width: 100%;
        margin-top: 120px;
        font-size: 19px;
    }
    .company-policy{
       display: none;
    }
    .copyright{
        width: 100%;
        height: 40px;
        float: none;
        text-align: center;
        font-size: 15px;
    }
    .white{
        color: white;
    }
    .city-heading{
        font-size: 16px;
    }
    #pg6text{
        font-size: 12px !important;
    }
}