.container-fluid{
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #f27330 !important;
}
.blue{
    color:#19467e !important;
}
.content-main{
    width: 80%;
    height: 1100px;
    margin: auto;
}
.side-image1{
    width:120px;
    height: 400px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-1.png);
    background-size: 100% 100%;
    left: 0px;
    top:230px;
}
.side-image2{
    width:120px;
    height: 400px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-1.png);
    background-size: 100% 100%;
    right: 0px;
    top:680px;
    transform: rotate(180deg);
}
.header{
    width: 100%;
    height: auto;
}
.row{
    width: 100% !important;
    margin: auto !important;
    margin-top: 15px !important;
    padding-bottom: 12px;
    border-bottom:2px solid rgb(211, 211, 211);
}
.col-1{
    width: 22px !important;
    height: 22px;
    text-align: center;
    background-size: 100% 100%;
    margin-right: 12px;
}
#facebook{
    background-image: url(images/icons/facebook-grey.png);
}
#facebook:hover{
    background-image:url(images/icons/facebook-orange.png) ;
}
#instagram{
    background-image: url(images/icons/instagram-grey.png);
}
#instagram:hover{
    background-image: url(images/icons/instagram-orange.png);
}
#linkedin{
   background-image: url(images/icons/linkedin-grey.png);
}
#linkedin:hover{
    background-image: url(images/icons/linkedin-orange.png);
 }
 #youtube{
    background-image: url(images/icons/youtube-grey.png);
 }
 #youtube:hover{
    background-image: url(images/icons/youtube-orange.png);
 }
 #twitter{
    background-image: url(images/icons/twitter-grey.png);
 }
 #twitter:hover{
    background-image: url(images/icons/twitter-oragne.png);
 }
.col-2{
    width: 8% !important;
    height: 20px;
    text-align: center;
    border-left:2px solid gray;
}
.col-2:hover{
    color: #f27330;
}
.col-5{
    width: 20% !important;
    margin-left: 38% !important;
    word-spacing: 5px;
}
.col-6{
    width: 18% !important;
    word-spacing: 2px; 
    border-left: 2px solid gray; 
}
a{
    text-decoration: none !important;
    color: black !important;
}
.menu-bar{
    width:100%;
    margin: auto;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item a:hover {
    color: #f27330 !important;
    text-decoration: none;
}
.contact-details{
    width: 100%;
    margin: auto;
    margin-top: 110px;
    font-size: 25px;
}
.contact-details-left{
    width: 40%;
    float: left;
    margin-bottom: 40px;
    margin-right: 20px;
}
.bold{
    font-size: 50px;
    font-weight: 600px;
}
.district{
    color: black;
    font-weight: 600;
    margin-top: 25px;
}
.address{
    color: rgb(53, 53, 53);
    font-size: 18px;
}
.contact-details-right{
    width: 58%;
    float: right;
    background-color: #f6fafb;
    padding-top: 15px;
}
.small{
    font-size: 30px !important;
    font-weight: 600;
}
.space{
    margin-left: 40px;
}
.text{
    font-size: 16px;
    font-weight: 600;
}
#inputbox.row {
    width: 92% !important;
    border-bottom: none;
    margin-left: 30px !important;
    margin-right: 40px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }
  .mb-3{
    margin-left: 40px;
    margin-right: 40px;
  }
  .submit{
    width: 150px;
    background-color: #19467e;
    color: white;
    text-align: center;
    margin-left: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
 .map{
    width: 100%;
    margin-top: 20px;
 } 
 
 .contact-container{
    width:100%;
    background-color: #19467e;
    font-family: 'Open Sans', sans-serif;
}

.contact-info {
    width: 80%;
    margin: auto;
    color: white;
    border-bottom: solid;
    padding-top: 50px;
    padding-bottom: 60px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1.5fr 1fr 1fr 1fr; 
  }

.contact-info p{
    line-height: 33px;
}

  .location {
    color: white;
    word-spacing: 4px;
  }
  
  .location-title {
    font-size: 32px;
    font-weight: 600px;
  }

  .cbe, .gobi{
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .city-heading{
    color: #f17424;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 40px;
  }

  .address-details{
    font-size: 19px;
  }

  .company-links,
  .course-links,
  .contact-us-links {
    margin-left: 90px;
    font-size: 19px;
  }

  .cnboxhead{
    font-size: 32px;
    font-weight: 600px;
    padding-bottom: 10px;
 }
  
 .footer-container{
    width: 100%;
    background-color: #002655;
    padding-top: 15px;
    padding-bottom: 90px;
}

.footer-top{
    width: 80%;
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-color: #002655;
}
.company-info{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:1fr 20fr;
}
.company-info-left{
    padding-right: 45px;
    line-height: 25px;
}
.company-info-right{    
    font-size: 18px;
    word-spacing: 3px;
    line-height: 30px;
}
.extra-space {
    word-spacing: 1px;
    color: white !important;
}
.footer-bottom{
    width: 100%;
    margin-top: 30px;
    font-size: 19px;
}
.company-policy{
    width: 68%;
    float: left;
    word-spacing: 32px;
}
.company-policy a{
    text-decoration: none;
}
.copyright{
    width: 31%;
    float: left;
    text-align: right;
    color: white;
}
.white{
    color: white;
}



@media screen and (max-width: 575.98px){
    .content-main{
        width: 100%;
        margin: auto;
    }
    .side-image1{
        display: none;
    }
    .side-image2{
       display: none;
    }
    .col-5{
       display: none;
    }
    .col-6{
        display: none;
    }
    .logo{
        float: none;
        margin: auto;
        margin-right: 56%;
    }
    .menu{
        float: none;
        word-spacing: 20px;
    }
    .menu-item {
        font-size: 12px;
    }
    .contact-details{
        margin-top: 10px;
        font-size: 20px;
    }
    .contact-details-left{
        width: 90%;
        float: none;
        margin-bottom: 20px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .bold{
        font-size: 40px;
        font-weight: 600px;
    }
    .district{
        margin-top: 5px;
    }
    .address{
        font-size: 12px;
    }
    .contact-details-right{
        width: 100%;
        float: none;
    }
    .small{
        font-size: 30px !important;
        font-weight: 600;
    }
    .space{
        margin-left: 40px;
    }
    .text{
        font-size: 10px;
    }
    #inputbox.row {
        width: 100% !important;
        border-bottom: none;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
      }
      .mb-3{
        margin-left: 10px;
        margin-right: 10px;
      }
      .submit{
        width: 150px;
        text-align: center;
        margin-left: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
     .map{
        display: none;
     } 
     
    .contact-container{
        width:100%;
        display: none;
    }
    .contact-info{
        width: 100%;
        margin-left: 5%;
    }
    .cnboxhead{
       font-size: 35px;
    }
    .location{
        width: 100%;
        float: none;
        margin-top: 0px;
    }
    .company-links{
       display: none;
    }
    .course-links{
        display: none;
    }
    .contact-us-links{
        display: none;
    }
    .cbe{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    a.location-title{
        font-size: 25px;
    }
    p.location-title{
        font-size: 16px;
        font-weight: 400px;
    }
    /* page6 ends */
    /* page7 starts */
    .footer-container{
        width: 100%;
        background-color: #002655;
    }
    .footer-top{
        width: 100%;
        margin: auto;
        border: dotted;
        color: white;
        font-family: 'Open Sans', sans-serif;
        border-color: #002655;
    }
    .company-info{
        height: 80px;
        margin-top: 15px;
    }
    .company-info-left{
        width: 50%;
        float: none;
        margin-left: 20px;
        
    }
    .company-info-right{    
        width: 100%;
        float: none;
        font-size: 12px;
        word-spacing: 0px;
        line-height: 15px;
        margin-top: 10px;
        margin-left: 20px;
        padding-right: 20px;
    }
    .extra-space {
        word-spacing: 1px;
        color: white !important;
    }
    .footer-bottom{
        width: 100%;
        margin-top: 120px;
        font-size: 19px;
    }
    .company-policy{
       display: none;
    }
    .copyright{
        width: 100%;
        height: 40px;
        float: none;
        text-align: center;
        font-size: 15px;
    }
    .white{
        color: white;
    }
    .city-heading{
        font-size: 16px;
    }
    #pg6text{
        font-size: 12px !important;
    }
}