.container-fluid{
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #f27330 !important;
}
.blue{
    color:#19467e !important;
}
.white{
    color: white;
}
.bold{
    font-weight: 900;
}
.content-main{
    width: 100%;
    margin: auto;
}
.header{
    width: 80%;
    height: auto;
    margin: auto;
}
.row{
    width: 100% !important;
    margin: auto !important;
    margin-top: 15px !important;
    padding-bottom: 12px;
    border-bottom: solid grey;
}
.col-1{
    max-width: 3% !important;
    text-align: center;
}
.col-2{
    max-width: 8% !important;
    height: 20px !important;
    text-align: center;
    border-left: solid gray;
    margin-left: 15px;
    border-left: solid gray;
}
.col-5{ 
    max-width: 20% !important;
    margin-left: 37% !important;
    word-spacing: 5px;
}
.col-6{
    max-width: 18% !important;
    word-spacing: 2px;   
}
a{
    text-decoration: none !important;
    color: black !important;
}
.menu-bar{
    width:100%;
    height: 100px;
    margin: auto;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
.menu-item a:hover {
    color: #f27330 !important;
    text-decoration: none;
}
.image-container img {
    transition: 0.3s;
}
.image-container:hover img {
    content: url("images/icons8-facebook-48-2.png"); 
}
.course-section{
    width:80%;
    height: 560px;
    margin:auto;
    margin-bottom: 30px;
}
.full-stack-content{
    width:56%;
    float:left;
    margin-top: 10px;
}
.full-stack-heading{
    font-size: 46px;
    font-weight: 700 !important;
    line-height: 60px;
    word-spacing: 2px;
}
.full-stack-para{
    font-size: 20px;
    margin-top: 20px;
    line-height: 28px;
}
.full-stack-detail{
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 30px;
    line-height: 35px;
}
.rating{
    width: 20%;
    float: left;
}
.duration{
    width: 20%;
    float: left;
    padding-left: 20px;
}
.language{
    width: 23%;
    float: left;
    padding-left: 20px;
}
.learning{
    width: 30%;
    float: right;
    padding-right: 20px;
    word-spacing: 5px;
}
.vertical-line {
    position: relative;
  }

  .vertical-line::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #f27330; 
    left: 60px;
    top: 5px;
  }
.full-stack-timing{
    width:100%;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 40px;
}
.morning{
    width: 35%;
    float:left;
}
.afternoon{
    width: 35%;
    float: left;
}
.evening{
    width: 34%;
    float: right;
}
.timing{
    font-size: 28px;
    font-weight: 700;
}
.enquiry-form{
    width:35%;
    float: right;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
}
label {
    font-weight: 600;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 170px;
    height: 40px;
    background-color: #19467e;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-input {
    position: relative;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .dropdown-options li {
    list-style: none;
    padding: 5px 10px;
  }

  .dropdown-options li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
/* Media query for responsive design */
@media (max-width: 768px) {
    .popup {
        right: 0;
    }
}
.about-course{
    width:100%;
    background-color: #F6FAFB;
    padding-top: 50px;
}
.about-course-heading{
    width:80%;
    margin: auto;
    font-size: 45px;
    font-weight: 600 !important;
}
.about-course-para{
    width:80%;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
}
.show-more{
    width: 180px;
    height: 50px;
    background-color: #19467e;
    color: white;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 600 !important;
    border-radius: 5px;
    border: none;
    margin-bottom: 60px;
}
.course-highlights{
    width:100%;
    background-color: #19467e;
    color: white;
}
.course-highlights-content{
    width: 80%;
    margin: auto;
    padding-top: 120px;
}
.course-highlights-heading{
    width: 100%;
    margin: auto;
    font-size: 50px;
    font-weight: 600 !important;
    text-align: center;
}
.course-highlights-para{
    width:80%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    line-height: 40px;
}
.course-highlights-list{
    width: 80%;
    margin: auto;
    height: 550px;
    margin-top: 50px;
}
.list-left{
    width: 48%;
    height: 400px;
    float: left;
}
.list-right{
    width: 48%;
    float: right;
}
.list-content{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
.list-img{
    width:14%;
    height: 80px;
    background-image: url(images/laptopicon.png);
    background-size: 100% 100%;
    float: left;
}
.list-text{
    width:80%;
    height: 100px;
    float: right;
    padding-top: 25px;
    font-size: 18px;
    font-weight: 600;   
}
.course-curriculum{
    width:80%;
    height: 1800px;
    margin: auto;
    margin-top: 50px;
}
.course-curriculum-heading{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}
.course-curriculum-para{
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    line-height: 35px;
}
.course-curriculum-content{
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
}
.course-curriculum-left{
    width:48.5%;
    float: left;
    margin-bottom: 50px;
}
.course-curriculum-right{
    width: 48.5%;
    float: right;
    margin-bottom: 50px;
}
.course-curriculum-week{
    background-color: #F6FAFB;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.week{
    width:38%;
    height: 45px;
    border: none;
    background-color: #FFD8BF;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border-radius: 25px;
    padding-top: 3px;
}
.week-heading {
    font-size: 30px;
    margin-top: 15px;
    font-weight: 600;
}
.week-content{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 35px;
}
.course-fee{
    width: 100%;
    background-color: #19467e;
    padding-top: 60px;
}
.course-fee-heading{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 45px;
}
.course-fee-para{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    line-height: 35px;
    word-spacing: 3px;
    padding: 0px 20px;
}
.course-fee-content{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}
.course-fee-beginner, .course-fee-intermediate, .course-fee-expertise {
    width: 30%;
    height: 650px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    margin-right: 50px;
}
.course-fee-beginner{
    float: left;
}
.course-fee-intermediate{
    float:left;
}
.course-fee-expertise{
   margin-top: 100px;
}
.course-fee-beginner-heading, .course-fee-expertise-heading, .course-fee-intermediate-heading{
    position: relative;
    left: -35px;
    width: 120%;
    height: 210px;
    background-color: #FFD8BF;
    border-radius: 25px 25px 1000px 1000px;  
    text-align: center;
    padding-top: 120px;
    font-size: 35px;
    font-weight: 600;
}
.course-fee-beginner-content{
    padding: 30px;
    text-align: center;
    padding-top: 20px;
}
.course-fee-text{
    color: #19467e;
}
.course-fee-beginner:hover, .course-fee-intermediate:hover, .course-fee-expertise:hover{
    transform: translateY(-40px);

    .course-fee-beginner-heading, .course-fee-expertise-heading, .course-fee-intermediate-heading{
        background-color:#f27330;
    }
    .course-fee-text{
        color: white;
    }
    .get-a-plan{
        background-color: #f27330;
        color: white;
        border-color: #f27330;
    }
}
.course-duration{
    font-weight: 610;
    font-size: 25px;
}
.course-detailing{
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 30px;
}
.course-detailing-text{
    margin-bottom: 18px;
    font-size: 15.5px;
}
.course-time{
    font-size: 30px;
    font-weight: 610;
}
.get-a-plan{
    width:60%;
    height: 45px;
    background-color: white;
    color: #19467e;
    border: solid #19467e;
    border-radius: 25px;
    margin-top: 10px;
}
.course-certificate{
    width:80%;
    margin: auto;
}
.course-certificate-heading{
    font-size: 45px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.course-certificate-para{
    width:86%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    word-spacing: 2px;
    padding-bottom: 50px;
}
.course-certificate-sub-heading{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}
.course-certificate-sub-para{
    width: 86%;
    font-size: 18px;
    word-spacing: 3px;
    padding-bottom: 40px;
    line-height: 30px;
}
.certificate-image{
    width:80%;
    margin: auto;
    margin-bottom: 40px;
}
.job-opportunity{
    width:100%;
    background-color: #F6FAFB;
    padding-top: 50px;
}
.job-opportunity-heading{
    width:80%;
    margin: auto;
    font-size: 45px;
    font-weight: 600 !important;
}
.about-course-para{
    width:80%;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
}
.show-more{
    width: 180px;
    height: 50px;
    background-color: #19467e;
    color: white;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 600 !important;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 60px;
}
.technology-sack{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}
.technology-sack-heading{
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 40px;
}
.technology-sack-para{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    word-spacing: 4px;
    padding-bottom: 50px;
}
.grid-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-bottom: 100px;
  }
  .grid-item {
    height: 140px;
    border: 3px dashed #ccc;     
    padding: 20px; 
    text-align: center;
  }
  .grid-item:nth-child(1n) {
    border-top: none;
    border-left: none;
  }
  .grid-item:nth-child(5n) {
    border-right: none;
  }
  .grid-item:nth-last-child(-n+5) {
    border-bottom: none;
  }
  .brochure{
    width:100%;
    background-color: #19467e;
    padding-top: 50px;
  }
  .broucher-heading{
    width: 80%;
    margin: auto;
    font-size: 50px;
    font-weight: 600;
  }
  .broucher-para{
    width:46%;
    word-spacing: 3px;
    line-height: 35px;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 7%;
    float: left;
  }
.button-download{
    width: 400px;
    height: 90px;
    background-color: #f27330;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 100px;
}
.faq-section{
    width:80%;
    margin: auto;
    padding-top: 150px;
}
.faq-content{
    border: 1px solid #f27330;
    background-color: #ffede1;
    padding: 40px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.faq-heading{
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 40px;
}
.question{
    width:90%;
    font-size: 30px;
    font-weight: 600;
    float:left;
    margin-bottom: 40px;
}
.arrow-mark{
    float: right;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}
.arrow-rotate {
    transform: rotate(180deg); 
  }
.answer{
    width: 88%;
    font-size: 18px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.answer p{
    padding-bottom: 30px;
}
/* page 4 starts */
.pg4{
    width:100%;
    height:800px;
    background-color: #F6FAFB;
    border: dotted;
    border-color: #F6FAFB;
}
.pccar{
    width: 100%;
    height: 800px;
}
.pchead{
    width: 80%;
    height: 60px;
    font-size: 54px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    margin-top: 65px;
}
.pctext{
    width: 80%;
    height: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
    word-spacing: 3px;
    line-height: 30px;
    margin: auto;
    margin-top: 40px;
}
.pccard{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-left: 12px;
}
.card-title{
    margin-top: 40px;
    font-size: 35px;
}
.card-text {
    font-weight: normal !important;
}
.card {
    width: 350px;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: dotted;
    color: black !important;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}
video{
    width: 100%;
    margin: 0px;
    height: 195px;
    border-radius: 5px;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
/* Styles for the carousel container */
#carouselExample2 {
    background-color: #F6FAFB;
    color: white;
    border-radius: 20px;
}

#carouselExample2 .carousel-control-prev,
#carouselExample2 .carousel-control-next {
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    align-items: start !important;
    opacity: 1 !important;
}
#carouselExample2 .carousel-control-prev{
    width: auto;
    height: 90px;
    margin-top: 100px;
    left: 50px;
}
#carouselExample2 .carousel-control-next{
    width: auto;
    height: 90px;
    margin-top: 100px;
    right: 50px;
}

#carouselExample2 .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
#carouselExample2 .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#carouselExample2 .carousel-caption p {
    font-size: 18px;
    margin-bottom: 0;
}

#carouselExample2 .carousel-control-image {
    width: 75px; 
    height: 75px; 
    background-size: cover;
}

#carouselExample2 .carousel-control-prev-icon,
#carouselExample2 .carousel-control-next-icon {
    display: none;
}
#carouselExample2 .row {
    border-bottom: none !important;
}
/* page4 ends */
/* contact starts */
.contact-container{
    width:100%;
    background-color: #19467e;
    font-family: 'Open Sans', sans-serif;
}
.contact-info{
    width: 80%;
    margin-left: 10%;
    height: 478px;
    color: white;
    border-bottom: solid;
}
.cnboxhead{
   font-size: 35px;
}
.location{
    width: 30%;
    height: 320px;
    float: left;
    margin-top: 50px;
    color: white;
}
.company-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.course-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.contact-us-links{
    width: 17%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.cbe{
    margin-top: 10px;
    margin-bottom: 35px;
}
a.location-title{
    font-size: 35px;
    font-weight: 400px;
    color: white !important;
}
p.location-title{
    font-size: 35px;
    font-weight: 400px;
}
/* page6 ends */
/* page7 starts */
.footer-container{
    width: 100%;
    height: 250px;
    background-color: #002655;
}
.footer-top{
    width: 80%;
    height: 225px;
    margin: auto;
    border: dotted;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-color: #002655;
}
.company-info{
    width: 100%;
    height: 80px;
    margin-top: 40px;
}
.company-info-left{
    width: 10%;
    height:78px;
    float: left;
    margin-right: 60px;
}
.company-info-right{    
    width: 84%;
    height:80px;
    float: left;
    font-size: 18px;
    word-spacing: 3px;
    line-height: 30px;
    margin-top: 10px;
}
.extra-space {
    word-spacing: 1px;
    color: white !important;
}
.footer-bottom{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    font-size: 19px;
}
.company-policy{
    width: 68%;
    height: 40px;
    float: left;
    word-spacing: 32px;
}
.copyright{
    width: 31%;
    height: 40px;
    float: left;
    text-align: right;
    color: white;
}
.white{
    color: white;
}
#pg6text.a{
    color: white !important;
}
* {
    height: auto;
  }
  
/* contact page ends */