.container-fluid{
    height: auto;
}
.orange{
    color: #f27330 !important;
}
.blue{
    color:#19467e !important;
}
.content-main{
    width: 80%;
    height: 1000px;
    margin: auto;
}
.header{
    width: 100%;
    height: auto;
}
.row{
    width: 100% !important;
    margin: auto !important;
    margin-top: 15px !important;
    padding-bottom: 12px;
    border-bottom: solid grey;
}
.col-1{
    width: 3% !important;
    text-align: center;
}
.col-2{
    width: 8% !important;
    text-align: center;
    border-left: solid gray;
    margin-left: 15px;
    border-left: solid gray;
}
.col-5{
    width: 19% !important;
    margin-left: 39% !important;
    word-spacing: 5px;
}
.col-6{
    width: 16% !important;
    word-spacing: 2px;   
}
a{
    text-decoration: none !important;
    color: black !important;
}
.menu-bar{
    width:100%;
    margin: auto;
}
.logo{
    width: 10%;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none;
    color: inherit;
}
/* Define the hover effect */
.menu-item a:hover {
    color: #f27330 !important;
    text-decoration: none;
}
.image-container img {
    transition: 0.3s; /* Add a smooth transition effect */
}

.image-container:hover img {
    content: url("images/icons8-facebook-48-2.png"); /* Replace with the URL of the second image */
}