.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}  
.primary-color{
    color: #19467e;
}  
.secondary-color{
    color: #f27330;
}
.bold{
    font-weight: bold;
}
/* home page starts */
.home-section{
    width:100%;
    height: 980px;
    font-family: 'Open Sans', sans-serif;
}
.left-sidebar{
    width:8%;
    height: 400px;
    float: left;
    margin-top: 240px;
    background-image: url(images/NS_PNG/Mask\ group-1.png);
    background-size: 100% 100%;
}
.main-content{
    width:80%;
    height: 850px;
    float: left;
    margin-left: 2%;
}
.header{
    width: 100%;
    height: 50px;
    margin: auto;
    border-bottom: 2px solid #d2d2d2 ;
    float: left;
}
/* Change the stroke color to your desired color */
/* a:hover svg path {
    stroke: #f27330; 
    fill: #f27330;
} */
.social-icons{
    word-spacing: 15px;
    padding-top: 10px;
    float: left;
    color: #616161;
}
.social-icons a {
    text-decoration: none;
    color: #616161;
}
.social-icons a:hover {
    text-decoration: none;
    color: #f27330;
}
.social-icons a svg {
    fill:transparent;
    stroke: transparent;
 }
 .mail a,
 .whatsapp a {
     text-decoration: none; 
     color: inherit; 
 }
.mail{
    width: 20%;
    height: 20px;
    float: left;
    margin-left: 350px;
    margin-top: 13px;
    border-right: solid;
    border-width: 2px ; 
    color: #616161;
    font-size: 16px;
    word-spacing: 5px;
    padding-right: 10px;
}
.whatsapp{
    float: right;
    margin-right: 5px;
    margin-top: 13px;
    color: #616161;
    font-size: 15px;
}
.mail a:hover,
.whatsapp a:hover {
    text-decoration: none; 
    color: inherit; 
}
.line{
    width: 5%;
    border-left: solid #b0b0b0;
    padding-left: 20px;
}
.menu-bar{
    width:100%;
    height: 65px;
    margin: auto;
}
.logo{
    width: 10%;
    height: 65px;
    float: left;
    margin-top: 10px;
}
.logo-heading{
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
}
.logo-heading:hover {
    color: #f17424;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
}
.logo-subheading{
    letter-spacing: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: #19467e;
    line-height: 8px;
}
.menu{
    height: 65px;
    float: right;
    margin-top: 10px;
    word-spacing: 65px; 
    padding-top: 10px;
    margin-right: 0px;
}
.menu-list {
    list-style: none;
    padding: 0;
    white-space: nowrap; 
}
.menu-item {
    display: inline;
    font-size: 17px;
    color: #616161; 
    text-decoration: none;
    transition: color 0.3s;
}
.menu-item a {
    text-decoration: none; 
    color: inherit; 
    transition: color 0.3s, text-decoration 0.3s; 
}

.menu-item a:hover {
    text-decoration: none; 
    color: inherit; 
}
/* Define the hover effect */
.menu-item:hover {
    color: #f27330; /* Text color on hover */
    text-decoration: none;
}
.fb-icon-hover img {
    transition: fill 0.3s; /* Smooth transition effect for color change */
}

.fb-icon-hover:hover img {
    fill: #f27330; /* Change this to the color you want when hovering */
}
.home-content{
    width: 100%;
    height: 500px;
    margin: auto; 
    animation-duration: 5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.content{
    width: 100%;
    height: 450px;
    color: #616161;
    margin-top: 90px;
}

.text{
    float: left;
    width: 48%;
    height: 350px;
    margin-right: 40px;
}
.main-heading{
    font-size: 45px;
    word-spacing: 3px;
}
.brand-name{
    font-weight: 700;
    padding-left: 0px;
    margin-top: 6px;
}
.description{
    margin-top: 30px;
    font-size: 18px;
    word-spacing: 3px;
}
.cta-button {
    width: 75%;
    height: 45px;
    background-color: #19467e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .cta-button:hover {
    background-color: #f27330;
    transform: scale(1.05);
  }
  
.image{
    width: 48%;
    height: 350px;
    float: right;
    background-image: url(images/Mask\ group.png);
    background-size: 100% 100%;
    opacity: 1;
    animation: moveUpDown 8s linear infinite;
    }
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateX(30px);
        }
        50% {
            transform: translateX(-30px);
        }
        75% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0);
        }
    }       
.placement-partners{
    width: 100%;
    text-align: center;
}
.placement-partners-heading{
    width: 100%;
    font-size: 45px;
    font-weight: 500;
}
.placement-partners-content{
    width:98%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    word-spacing: 3px;
    margin-top: 20px;
    line-height: 35px;
    color:  #616161;
}
.placement-partners-company{
    width:100%;
    height: 105px;
    margin-top: 35px;
    margin-left: 10px;
}
#mySlider {
    background: white;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
    margin-left: 0px;
}

#mySlider::before,
#mySlider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

#mySlider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

#mySlider::before {
    left: 0;
    top: 0;
}

#mySlider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

#mySlider .slide {
    height: 100px;
    width: 250px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7)); }
}
    
.right-sidebar{
    width:8%;
    height: 400px;
    margin-top: 200px;
    float: right;
}
.enquiry-form {
    display: flex;
    align-items: center;
    position: absolute;
}
.popup {
    display: none;
    position:absolute;
    width: 400px;
    height: 470px;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5), -5px -5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    top: 180px; /* Center vertically */
    left: 0px; /* Center horizontally */
    transform: translate(-70%, -50%);
}
.popup-content {
    padding: 20px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.enquiry-button {
    height: 40px;
    width: 250px;
    background-color: #f27330;
    color: white;
    border: none;
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    top: 155px; 
    left:120px;
    font-size: 25px; 
}
.enquiry-button:focus, .enquiry-button:active {
    outline: none;
}
label {
    font-weight: 600;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #19467e;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
    margin-top: 10px;
}
.dropdown-input {
    position: relative;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  .dropdown-options li {
    list-style: none;
    padding: 5px 10px;
  }

  .dropdown-options li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
/* Media query for responsive design */
@media (max-width: 768px) {
    .popup {
        right: 0;
    }
}
.sideimg2{
    width:13%;
    height: 460px;
    margin-top: 400px;
    background-image: url(images/NS_PNG/Vector-1.png);
    right: 0;
    position: absolute;
    background-size: cover;
}
/* home page ends */

/* contact page starts */
.courses-section{
    width:100%;
    height: 1240px;
    background-color: #f6fafb;
    color: #616161;
}
.course-image-1{
    position: absolute;
    width: 10%;
    height: 140px;
    right: 0;
    margin-top: 1020px;
    background-image: url(images/NS_PNG/Group\ 1000006069.png);
}
.course{
    width:80%;
    height: 1170px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
}
.course-image-2{
    width: 7.8%;
    height: 140px;
    margin-top: 420px;
    left: 80px;
    position: absolute;
    background-image: url(images/NS_PNG/Mask\ group-2.png);
}
.course-header{
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 80px;
    font-size: 55px;
}
.course-paragraph{
    width: 100%;
    text-align: center;
    font-size: 19px;
    word-spacing: 3px;
    line-height: 30px;
    margin-top: 40px;
}
.course-top{
    width: 100%;
    height: 350px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.course-bottom{
    width: 100%;
    height: 350px;
}
.full-stack-development{
    width: 45%;
    height: 310px;  
    float: left;
    margin-left: 40px;
    border-radius: 12px;
    box-shadow: -2px 0px 5px 0px rgba(255, 247, 247, 0.5);
    background-image: url(images/NS_PNG/Group\ 1000006176.png);
    background-size: 100% 100%;
}
.fsdimg, .fdimg, .pdimg, .dmimg {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 40px;
    float: left;
    background-color: #FEF1E9;
    border-radius: 50%;
}
.iconimage{
    margin-left:15px;
    margin-top: 18px;
}
.fsdtext, .fdtext, .pdtext, .dmtext {
    width: 56%;
    height: 310px;
    float: left;
    margin-top: 35px;
}
.bordered-text {
    border: 2px solid; /* You can customize the border width, style, and color */
}
.bordered-text{
    display: inline-block;
    font-size: 12px;
    width: 85px;
    height: 28px;
    line-height: 24px;
    border-radius: 50px;
    border-color: #639ee6;
    background-color: #f8faff;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
} 
.xs{
    width: 70px;
}
.m{
    width: 100px;
}
.l{
    width: 110px;
} 
.xl{
    width: 130px;
}
.xxl{
    width: 150px;
}
.flutter-development{
    width: 45%;
    height: 310px;  
    border-radius: 12px;
    box-shadow: -2px 0px 5px 0px rgba(255, 247, 247, 0.5);
    float: right;
    margin-right: 30px;
    background-image: url(images/NS_PNG/Group\ 1000006176.png);
    background-size: 100% 100%;
}
.python-development{
    width: 45%;
    height: 310px;
    border-radius: 12px;
    box-shadow: -2px 0px 5px 0px rgba(255, 247, 247, 0.5);
    float: left;
    margin-left: 40px;
    background-image: url(images/NS_PNG/Group\ 1000006176.png);
    background-size: 100% 100%;
}
.digital-marketing{
    width: 45%;
    height: 310px;  
    border-radius: 12px;
    box-shadow: -2px 0px 5px 0px rgba(255, 247, 247, 0.5);
    float: right;
    margin-right: 30px;
    background-image: url(images/NS_PNG/Group\ 1000006176.png);
    background-size: 100% 100%;
}
.course-top .full-stack-development,
.course-top .flutter-development,
.course-bottom .python-development,
.course-bottom .digital-marketing {
    opacity: 0;
    transform: translateY(20px);
}
.course-top .full-stack-development {
    animation: fade-in 0.5s ease-in-out forwards 0.5s;
}

.course-top .flutter-development {
    animation: fade-in 0.5s ease-in-out forwards 1s;
}
.course-bottom .python-development {
    animation: fade-in 0.5s ease-in-out forwards 1.5s;
}
.course-bottom .digital-marketing {
    animation: fade-in 0.5s ease-in-out forwards 2s;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: Add a vertical slide effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.course-blue{
    width:100%;
    height:620px;
    background-color: #19467e; 
    font-family: 'Open Sans', sans-serif;
    border: dotted;
    border-color: #19467e;
}
.cb-header{
    color: white;
    text-align: center;
    font-size: 55px;
    margin-top: 70px;
    border: dotted;
    border-color: #19467e;  
}
.cb-text{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    line-height: 35px;
}
.cb-boxes{
    width: 80%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
}
.cb-box1, .cb-box2, .cb-box3, .cb-box4, .cb-box5{
    width: 16.5%;
    height: 240px;
    border-radius: 10px;
    background-color: white;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
span.text
{
  width: 100%;
  margin-top: 20px;
  color: #19467e;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
span.num
{
  color: #f27330;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  margin-left: 40px;
}
.cb-box1 {
    float: left;
    margin-right: 3%;
}
.cb-box2 {
    float: left;
    margin-right: 3%;
}
.cb-box3 {
    float: left;
    margin-right: 3%;
}
.cb-box4 {
    float: left;
    margin-right: 3%;
}
.cb-box5 {
    width: 18%;
    float: left;
}
.cb-box5 span.num{
    margin-left: 5px;
}

/* contact page ends */
/* nschool page starts */
.page{
    width:100%;
    height: 1040px;
    border: dotted;
    color: white;
}
.pageimg1{ 
    position: absolute;
    color: #333;
    width: 14%;
    height: 460px;
    right: 0px;
    margin-top: 800px;
    background-image: url(images/NS_PNG/Vector-1.png);
    background-size: cover;
}
.nschool {
    width: 80%;
    height: 1000px;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-left: 10%;
}
.nscnt {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    animation-duration: 5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.nsimg{
    width: 47%;
    height: 370px;
    float: left;
    background-image: url(images/NS_PNG/Untitled-1\ 1.png);
    background-size: 100% 100%;
}
.img{
    background-image: url(images/NS_PNG/Vector-2.png);
    background-size: 100% 100%;
}
.nstext{
    width: 44%;
    height: 450px;
    float: left;
    margin-left: 80px;
    word-spacing: 2px;
}
.nshead{
    width: 100%;
    color: #19467e;
    height: 120px;
    font-size: 50px; 
    margin-bottom: 50px;
}
.nsong{
    font-weight: 600;
    color: #f27330;
}
.nspara {
    font-size: 18px;
    color: rgb(84, 84, 84);
    line-height: 30px;
}
.nslist{
    width: 100%;
    height: 410px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.listleft{
    width: 45%;
    height: 410px;
    float: left;
    margin-left: 20px;
}
.listright{
    width: 45%;
    height: 410px;
    float: left;
    margin-left: 60px ;
}
.nsbox{
    width:95%;
    height: 130px;
}
@keyframes revealLines {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start from a slightly lower position */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.nsbox .listtext {
    animation: revealLines 0.8s ease-in-out;
}
.img{
    width:100px;
    height: 75px;
    float:left;
    margin-top: 15px;
    margin-left: -5px;
    filter: hue-rotate(180deg);
    padding-left: 10px;
}
.listtext{
    width: 80%;
    height: 95px;               
    float: right;
    margin-top: 15px;
    padding-left: 10px;
}
.nscolor{
    color: #f27330;
    font-size: 25px;
    font-weight: bold;
}
.nsfill{
    font-size: 16px;
    color: rgb(83, 82, 82);
    line-height: 20px;
}
.testimonial{
    width:100%
}
/* nschool page ends */
   /* testimonial page starts */
    .testimonials-section{
        width: 100%;
        height: 910px;
        font-family: 'Open Sans', sans-serif;
    }
    .testimonials-left{
        width: 30%;
        height: 900px;
        float: left;
    }
    .testimonials-right{
        width: 70%;
        height: 820px;
        float: left;
        background-color: #f6fafb;
    }
    .testimonial-box{
        width:50%;
        height: 350px;
        margin-top: 230px;
        margin-left: 330px;
    }
    .testimonial-header-1{
        font-size: 60px;
        color: #19467e;
    }
    .testimonial-header-2{
        font-size: 54px;
        color: #f27330;
        font-weight: 600;
        margin-top: 0px;
        line-height: 60px;
    }
    .testimonial-image-2{
        position: absolute;
        width: 220px;
        height: 140px;
        top: 4510px;
        right: 0px;
        background-image: url(images/NS_PNG/Group\ 1000006069.png);
    }
    .testimonial-content1{
        font-size: 20px;
        line-height: 35px;
        margin-top: 45px;
        margin-left: 0px;
    }
    .gallery {
        top:130px;
        background: #fffefe;
      }
      .gallery-cell {
        width: 150%;
        height: 520px;
        margin-right: 10px;
        counter-increment: gallery-cell;
      }
      .gallery-cell:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
      }
    /* Set a fixed width for each slide */
    .gallery-cell {
        width: 76%; 
        margin-right: 100px;
        border-radius: 20px; 
    }
    
    /* Adjust the width of the gallery container to show one full slide and half of the next slide */
    .js-flickity {
        position: absolute;
        z-index: 1;
        width: 150%;
        border-radius: 20px;
        margin: 0 auto; /* Center the gallery horizontally */
    }
    .flickity-button{
        top:115% !important;
    }
    svg.flickity-button-icon{
        display: none;
    }
    .flickity-prev-next-button.previous {
        left:500px !important;
        opacity: 1;
        width: 80px;
        height: 80px;
        background-image: url(images/NS_PNG/Group\ 1000006003.png);
        background-color: transparent;
    }
    .flickity-prev-next-button.next{
        right: -20px !important;
        opacity: 1;
        width: 80px;
        height: 80px;
        background-image: url(images/NS_PNG/Group\ 1000006004.png);
        background-color: transparent;
    }
    .flickity-prev-next-button.previous:hover {
        opacity: 1;
        background-image: url(images/NS_PNG/Group\ 1000006003.png);
        background-color: transparent;
    }
    .flickity-prev-next-button.next:hover{
        opacity: 1;
        background-image: url(images/NS_PNG/Group\ 1000006004.png);
        background-color: transparent;
    }
    .testcar{
        width:117%;
        height: 520px;
        margin-top: 130px;
        position: relative;
        z-index: 1;
        left: 150px;
        border-radius: 20px;
        background-color: #19467e;
        color: white;
        left: 5;
    }   
    .testimonial-image{
        height: 110px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .testimonial-paragraph{
        font-size: 18px;
        margin-left: 30px;
        line-height: 35px;
        word-spacing: 1px;
        letter-spacing: 1px;
        color: white;
    }
    .testimonial-content{
        width: 85%;
        height: 110px;
        margin-left: 30px;
        margin-top: 25px;
       
    }
    .testimonial-content-image{
        width: 25%;
        height: 110px;
        float: left;
        background-image: url(images/NS_PNG/tablet-holing-girl.webp);
        background-size: 100% 100%;
    }
    .testimonial-content-text{
        width: 65%;
        height: 85px;
        float: left;
        margin-left: 25px;
        padding-top: 30px;
        line-height: 35px;
        color: white;
    }
    .testimonial-image-1{
        position: absolute;
        width: 290px;
        height: 90px;
        top: 3978px;
        left: 530px;
        background-image: url(images/NS_PNG/Group\ 1000006069.png);
        overflow: hidden;   
    }
    /* testimonial page ends */
/* page 4 starts */
.pg4{
    width:100%;
    height:800px;
    background-color: #19467e;
    border: dotted;
    border-color: #19467e;
}
.pccar{
    width: 100%;
    height: 800px;
}
.pchead{
    width: 80%;
    height: 60px;
    font-size: 54px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    margin-top: 65px;
}
.pchead a{
    color: white !important;
}
.pctext{
    width: 80%;
    height: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
    word-spacing: 3px;
    line-height: 30px;
    margin: auto;
    margin-top: 40px;
}
.pctext a{
    color: white !important;
}
.pccard{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding-left: 12px;
}
.card-title{
    margin-top: 40px;
    font-size: 35px;
}
.card-text {
    font-weight: normal !important;
}
.card {
    width: 350px;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: dotted;
    color: black !important;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}
video{
    width: 100%;
    margin: 0px;
    height: 195px;
    border-radius: 5px;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
/* Styles for the carousel container */
#carouselExample2 {
    background-color: #19467e;
    color: white;
    border-radius: 20px;
}

#carouselExample2 .carousel-control-prev,
#carouselExample2 .carousel-control-next {
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    align-items: start !important;
    opacity: 1 !important;
}
#carouselExample2 .carousel-control-prev{
    width: auto;
    height: 90px;
    margin-top: 100px;
    left: 50px;
}
#carouselExample2 .carousel-control-next{
    width: auto;
    height: 90px;
    margin-top: 100px;
    right: 50px;
}

#carouselExample2 .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
#carouselExample2 .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#carouselExample2 .carousel-caption p {
    font-size: 18px;
    margin-bottom: 0;
}

#carouselExample2 .carousel-control-image {
    width: 75px; 
    height: 75px; 
    background-size: cover;
}

#carouselExample2 .carousel-control-prev-icon,
#carouselExample2 .carousel-control-next-icon {
    display: none;
}
/* page4 ends */
/* faq starts */
.faq-container {
    width: 100%;
    height: 880px;
    font-family: 'Open Sans', sans-serif;
  }
  .faq-content {
    width: 80%;
    margin: auto;
  }
  .faq-image-1 {
    position: absolute;
    width: 22%;
    height: 85px;
    margin-top: 95px;
    left: -150px;
    background-image: url(images/NS_PNG/Group\ 1000006069.png);
    background-size: 100% 160%;
  }
  
  .faq-image-2 {
    position: absolute;
    width: 160px;
    height: 460px;
    right: 0;
    margin-top: 380px;
    background-image: url(images/NS_PNG/Vector-1.png);
  }
  
  .faq-image-3 {
    width: 46%;
    height: 350px;
    float: left;
    margin-top: 260px;
    background-image: url(images/NS_PNG/Group\ 1000006006.png);
    background-size: 100% 100%;
    margin-left: 10px;
  }
  .faq-text{
    width: 45%;
    float: left;
    margin-top: 100px;
    margin-left: 75px;
    max-height: 750px; /* Set a max-height for scrolling */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
  }
  .faq-header{
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 55px;
    font-weight: 600;
    color: #f27330;
    margin-bottom: 20px;
  }
  
  .faq-question {
    width: 98%;
    height: auto;
    border-bottom: 2px solid #87a0bc;
    padding-right: 10px;
    padding-bottom: 17px;
    padding-top: 17px;
  }
  
  .question {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .answer {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
  }
  
  .plus {
    font-size: 25px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
/* faq page ends */
 /*blog page starts*/
 .blog-container{
    width: 100%;
    height: 750px;
    background-color: #f6fafb;
}
.blog{
    width: 80%;
    height: 700px;
    float: left;
    margin-left: 10%;
    font-family: 'Open Sans', sans-serif;
    background-color: #f6fafb;
}
.blog-header{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #f27330;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
}
.blog-text{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #464646;
    margin-top: 35px;
    font-size: 19px;
    word-spacing: 3px;
    line-height: 30px;
}
.blog-content{
    width: 100%;
    height: 420px;
    margin-top: 50px;
}
.blog-content a{
    color: black !important;
}
.blog1, .blog2, .blog3{
    width: 30%;
    height: 420px;
}
.blog1{
    float: left;
    margin-right: 3%;
    margin-left: 18px;
}
.blog2{
    float: left;
    margin-right: 3%;
}
.blog3{
    float: left;
}
.blog-image{
    width:100%;
    height: 200px;
    border: 2px solid #87a0bc;  
}
.blog-img-1, .blog-img-2, .blog-img-3{
    width: 92%;
    height: 170px;
    margin: auto;
    margin-top: 15px;
}
.blog-item-text{
    width: 100%;
    height: 220px;
    border: 2px solid #87a0bc; 
    color: #464646;
}
.blog-img-1{
    background-image: url(images/node\ js.jpg);
    background-size: 100% 100%;
}
.blog-img-2{
    background-image: url(images/sql.png);
    background-size: 100% 100%;
}
.blog-img-3{
    background-image: url(images/reactvsvue.png);
    background-size: 100% 100%;
}
.blog-bold{
    margin-left: 18px;
    font-size: 18px;    
    font-weight: 600;
    line-height: 25px;
    word-spacing: 2px;
}
.blog-small{
    margin-left: 18px;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 4px;
}
.bi-arrow-right-circle  {
    position: relative; 
    left: 325px; 
    bottom: 18px;
}
.blog-item-text svg {
    position: relative; 
    left: 325px; 
    bottom: 18px;
}
.blog-item-text svg:hover {
    fill: #f27330 !important;
  }
@media (max-width: 768px) {
    .popup {
        right: 0;
    }
    .pg5{
        width: 100%;
        height: 1535px;
    }
    .blog1, .blog2, .blog3 {
        width: 60%; 
        margin-left: 120px;
    }
    .blog1{
        margin-left: 120px;
    }
    .blogtext{
        height: 80px;
    }   
}
/* blog page ends */
/* contact starts */
.contact-container{
    width:100%;
    height: 480px;
    background-color: #19467e;
    font-family: 'Open Sans', sans-serif;
}
.contact-info{
    width: 80%;
    margin-left: 10%;
    height: 478px;
    color: white;
    border-bottom: solid;
}
.cnboxhead{
   font-size: 35px;
}
.location{
    width: 30%;
    height: 320px;
    float: left;
    margin-top: 50px;
    color: white;
}
.company-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.course-links{
    width: 15%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.contact-us-links{
    width: 17%;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
    font-size: 19px;
}
.cbe{
    margin-top: 10px;
    margin-bottom: 35px;
}
a.location-title{
    font-size: 35px;
    font-weight: 400px;
    color: white !important;
}
p.location-title{
    font-size: 35px;
    font-weight: 400px;
}
/* page6 ends */
/* page7 starts */
.footer-container{
    width: 100%;
    height: 250px;
    background-color: #002655;
}
.footer-top{
    width: 80%;
    height: 225px;
    margin: auto;
    border: dotted;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-color: #002655;
}
.company-info{
    width: 100%;
    height: 80px;
    margin-top: 40px;
}
.company-info-left{
    width: 10%;
    height:78px;
    float: left;
    margin-right: 60px;
}
.company-info-right{    
    width: 84%;
    height:80px;
    float: left;
    font-size: 18px;
    word-spacing: 4px;
    line-height: 30px;
}
.extra-space {
    word-spacing: 1px;
    color: white !important;
}
.footer-bottom{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    font-size: 19px;
}
.company-policy{
    width: 68%;
    height: 40px;
    float: left;
    word-spacing: 32px;
}
.copyright{
    width: 31%;
    height: 40px;
    float: left;
    text-align: right;
    color: white;
}
/* contact page ends */