/* Style the container for the form and button */
.enquiry-form {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
/* Style the button */
.enquiry-button {
    cursor: pointer;
    background-color: #f17424;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: center;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    top:100px;
    left:100px;
}

.enquiry-button:hover {
    background-color: #ff8c53;
}

/* Style the form elements */
form label {
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #f17424;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

form input[type="submit"]:hover {
    background-color: #ff8c53;
}

/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
