@media (min-width: 1504px){

/* home page starts */
.mail{
  width: 17.5%;
  margin-left: 550px;
}
.menu{
  width: 38%;
  word-spacing: 40px;
  font-size: 18px;
}
.content{
  margin-top: 110px;
}
.text{
  width: 42%;
}
/* home page ends */
